.informacion-empresa {
    background-color: #FFF;
}

.informacion-empresa__title { 
    font-size: 40px;
    /*text-shadow: -2px 4px 4px rgba(151,252,0,0.6); */ 
    text-align: center;
    padding-top: 50px;
    margin-bottom: 20px;
}

.informacion-empresa__container {
    max-width: 1110px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;

}

.informacion-empresa__card {
    position: relative;
    border-radius: 10px;
    padding: 25px 45px;
    transition: 0.3s;
    text-align: center;
}

.informacion-empresa__card:hover {
    background-color: beige;
}

.informacion-empresa__quienesomos {
    position: absolute;
    top: 0;
    left: 0;
    padding: 10px;
    width: 44px;
    height: 44x;
    border-radius: 10px 0 10px 0;
    background-color: #fff;
}

.informacion-empresa__card-img {
    width: 100px;
    height: 100px;
    margin-bottom: 20px;
}

.informacion-empresa__card-content {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.informacion-empresa__card-content h3 {
    font-size: 22px;
}

.informacion-empresa__card-content p {
    font-size: 16px;
}

@media screen and (width <= 720px) {
    .informacion-empresa__container {
        grid-template-columns: repeat(1, 1fr);
    }
    
    .informacion-empresa {
    margin: 0 auto;
    padding-inline: 10px;
    }
} 

  