@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;600;700&display=swap');
@import './header.css';
@import './headerlogin.css';
@import './login.css';
@import './footer.css';

body {
    min-height: 100vh;
    background-image: url(../img/banners/bannerinicio.jpg);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    background-color: #0009;
    background-blend-mode: soft-light;
} 

.body {
    
    font-family: 'Playfair Display', serif;
    font-weight: 400;
}