.reseñas {
    background-color: #FFF;
    padding-bottom: 40px;
}

.reseñas__title { 
    font-size: 40px;
    /*text-shadow: -2px 4px 4px rgba(151,252,0,0.6); */ 
    text-align: center;
    padding-top: 50px;
    margin-bottom: 20px; 
}

.reseñas__element {
    /*display: grid;
    grid-template-columns: 1fr 1fr; 
    border-radius: 15px;
    background-color: beige;*/
    box-shadow: 0px -2px 20px 1px rgba(0,0,0,0.25);
    border-radius: 20px;
    padding: 25px;
    display: grid;
    flex-direction: column;
    gap: 15px;
    grid-template-columns: 1fr 1fr;
}

.reseñas__img {
    width: 100%;
    height: 100%;
}

.reseñas__img img {
    width: 100%;
    height: 100%; 
    border-radius: 15px 15px 15px 15px;
}
 
.reseñas__ftperfil { 
    position: relative;
    width: 50px;
    height: 50px;
    border-radius: 50%;
}
 

.reseñas__container {
    max-width: 1110px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.reseñas__content {
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 40px; 
     
}
 

.reseñas__info {
    color: #666666;
    font-size: 18px;
}

.reseñas__content img {
    align-items: left;
}

.cliente__name h2 {
    text-align: end;
}

.reseñas__header {
    display: flex;
    gap: 15px;
}
 
.reseñas__icon {
    color: rgb(255, 208, 0);
}