.welcome-content {
    min-height: 100vh;
    background-image: url(../img/banner.jpg);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    background-color: #0009;
    background-blend-mode: soft-light;
}

.banner {
    height: 100vh;
    padding-top: 84px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;

}

.banner__title {
    color: #FFF;
    font-size: 80px;
    text-shadow: -2px 4px 4px rgba(151,252,0,0.6);
}

.banner__subtitle {
    font-size: 28px;
    color: #FFF;
    display: block;
    white-space: nowrap;
    border-right: 3px solid #97fc00;
    width: 45ch;
    animation: typing 5s steps(40, end), blink .5s infinite step-end alternate;
    overflow: hidden;
    text-shadow: -2px 4px 4px rgba(151,252,0,0.6);
} 

@media screen and (width <= 720px) {
    .banner__title {
        font-size: 40px;
         
    }
    .banner__subtitle {
        font-size: 20px;
    }
}

@media screen and (width <= 500px) {
    .banner__title {
        font-size: 30px;
         
    }
    .banner__subtitle {
        font-size: 15px;
    }
}

@media screen and (width <= 350px) {
    .banner__title {
        font-size: 25px;
         
    }
    .banner__subtitle {
        font-size: 12.5px;
    }
}

@keyframes typing {
    0% {
        width: 0;
    }
}

@keyframes blink{
    50% {
        border-color: transparent;
    }
}