

.bebidasypaletas {
    background-color: #FFF;

} 

.bebidasypaletas__title {
    font-size: 40px; 
    text-align: center;
    padding-top: 100px;  
}

.bebidasypaletas__subtitle {
    font-size: 25px; 
    text-align: center;
    padding-top: 10px;
    margin-bottom: 20px;
    gap: 20px;
}

.bebidasypaletas__container {
    max-width: 1110px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px; 
    padding: 20px; 
}

.bebidasypaletas__card {
    position: relative;
    border-radius: 10px;
    padding: 25px 45px; 
    text-align: center;
    box-shadow: 0px -2px 20px 1px rgba(0,0,0,0.25);
    
}

.bebidasypaletas__card-img {
    width: 200px;
    height: 200px;
    margin-bottom: 20px;
}

  
 
.bebidasypaletas__card-img-bebidas {
    width: 250px !important;
    height: 150px !important;
}
.bebidasypaletas__card-img-jugostropicales {
    width: 250px !important;
    height: 150px !important;
}
.bebidasypaletas__card-img-paletasdeagua {
    width: 250px !important;
    height: 150px !important;
}

.whatsapp { 
    padding: 5px 10px;
    border: 1px solid #97fc00 ;
    background-color: #FFF;
    border-radius: 6rem;
    transition: 0.3s; 
    cursor: pointer; 
}

.whatsapp:hover {
    background-color: #97fc00; 
    color: #FFF;
    font-weight: 600;
}

@media screen and (width <= 720px) {
    .bebidasypaletas__container {
        grid-template-columns: repeat(1, 1fr);
    }
    
    .bebidasypaletas {
    margin: 0 auto;
    padding-inline: 8px; 
    }

    .whatsapp {
        padding: 4px 8px;
    }
}